<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>XSS Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">

    <div class="jumbotron">
      <h1>Welcome</h1>
      <p>Don't forget to comment!</p> 
    </div>

    <table class="table table-striped">
      <tr>
          <th class="col-md-2">Name</th>
          <th class="col-md-8">Comment</th>
          <th class="col-md-1">Time</th>
      </tr>
      {{#each this.comments}}
      <tr>
          <td>{{{this.name}}}</td>
          <td>{{{this.comment}}}</td>
          <td>{{{this.time}}}</td>
      </tr>
      {{else}}
      <tr>
          <td colspan="3" class="text-center text-muted">Nothing yet...</td>
      </tr>
      {{/each}}
    </table>

    <form method="POST" action="/add">
      <div class="form-group">
        <label>Name</label>
        <input name="name" type="text" class="form-control" placeholder="Enter your name" required>
      </div>
      <div class="form-group">
        <label>Comment</label>
        <textarea name="comment" class="form-control" rows="3" placeholder="Enter your comment" required></textarea>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>

  </div>
  <script nonce="{{nonce}}">
      jQuery(function($){
          $('h1').css('color', 'red')
              .mouseover(function(){
                  $(this).css('position','relative')
                      .animate({left: 20, opacity: 0}, 'fast')
                      .animate({left: 0, opacity: 1}, 'fast');
              });
      })
  </script>
</body>
</html>
